$qmicon-font-family: "qmicon" !default;
$qmicon-font-path: "../../fonts" !default;

$qmicon-envelope: "\e918";
$qmicon-navegation: "\e902";
$qmicon-car: "\e909";
$qmicon-atom: "\e900";
$qmicon-calendar: "\e901";
$qmicon-car-add: "\e903";
$qmicon-chat: "\e904";
$qmicon-close: "\e905";
$qmicon-delete: "\e906";
$qmicon-download: "\e907";
$qmicon-download-file: "\e908";
$qmicon-eye: "\e90a";
$qmicon-facebook: "\e90b";
$qmicon-fire: "\e90c";
$qmicon-instagram: "\e90d";
$qmicon-link: "\e90e";
$qmicon-location: "\e90f";
$qmicon-neumatic: "\e910";
$qmicon-paper: "\e911";
$qmicon-phone: "\e912";
$qmicon-search: "\e913";
$qmicon-test-bulb: "\e914";
$qmicon-test-tube: "\e915";
$qmicon-twitter: "\e916";
$qmicon-youtube: "\e917";
