// Quimimpex scss source file

//
// Imports
//
@import "custom";
@import 'ihover';
@import "../../../../twenty-em/assets/src/scss/theme";
@import '../../dist/vendor/hover.css/scss/hover.scss';
@import "icon";

//
// Scaffolding
//
*{
	transition: 250ms;
}
body{
	overflow-x: hidden;
	&.admin-bar{
		#top-menu{
			top: 30px !important;
		}
	}
	&.search,
	&.archive{
		#content{
			@extend .mt-5;
		}
	}
	&.search{
		#content{
			article{
				&.qm-import-product,
				&.qm-export-product{
					header{
						@extend .bg-transparent;
					}
				}
			}
		}
	}
}

.full-width {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: none;
}

.accordion{
	.card{
		@extend .mb-0;
		&-header{
			@extend .p-0;
		}
	}
}

//
// Navigation
//
#top-menu{
	@extend .fixed-top;
	@extend .shadow-sm;
	@extend .p-0;
	@include media-breakpoint-down(md){
		box-shadow: unset !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		margin-top: -.5rem;
	}
	#quimimpex-social-network-menu{
		[class^="icomoon-"]{
			@extend .hvr-grow;
		}
	}
	> .navbar{
		@extend .bg-white;
		@extend .pb-0;
		@extend .pt-1;
		@extend .position-relative;
		@include media-breakpoint-down(md){
			background-color: transparent !important;
			padding: 0 !important;
		}
		&-collapse{
			@include media-breakpoint-down(md){
				margin-right: 1rem;
				position: absolute;
				top: 65px;
				right: 0;
			}
		}
		.navbar-toggler{
			@extend .bg-light;
			@extend .border-0;
			&-icon{
				filter: grayscale(100%) brightness(100%) contrast(0%);
			}
		}
		.brand-wrapper{
			@include media-breakpoint-down(md){
				width: 100% !important;
				padding: 0 1rem !important;
			}
		}
		#site-top-menu{
			@include media-breakpoint-down(md){
				width: 200px !important;
				margin: 1rem !important;
			}
		}
		#menu-top-menu{
			@extend .ml-auto;
			@include media-breakpoint-down(md){
				text-align: left;
				width: 200px;
				background-color: #f8f9fa;
				border-radius: 3px;
				.menu-item{
					padding: 0 !important;
					margin: 0 .5rem !important;
				}
			}
			.nav-item{
				@extend .mr-2;
				@extend .ml-4;
				@extend .py-4;
				@extend .hvr-underline-from-center;
				overflow: inherit !important;
				@include media-breakpoint-down(md){
					border-bottom: solid 1px $gray-300;
				}
				&:before{
					height: 3px;
				}
				&.active{
					border-bottom: 3px solid $primary !important;
					-o-transform: none !important;
					-webkit-transform: none !important;
			  		transform: none !important;
					&:hover{
						transition: none !important;
						-webkit-transition-property: none !important;
						-o-transition-property: none !important;
						transition-property: none !important;
						&:before{
							@extend .bg-transparent;
							transition: none !important;
							-webkit-transition-property: none !important;
							-o-transition-property: none !important;
							transition-property: none !important;
						}
					}
				}
			}
			.dropdown{
				z-index: 1;
				&-menu{
					top: 70%;
					&:before,
					&:after{
						bottom: 100%;
						left: 25%;
						border: solid transparent;
						content: "";
						height: 0;
						width: 0;
						@extend .position-absolute;
					}
					&:before{
						border-color: rgba(218, 223, 224, 0);
						border-bottom-color: rgba(0,0,0,.15);
						border-width: 11px;
						margin-left: -11px;
						@include media-breakpoint-down(md){
							top: 18%;
						}
					}
					&:after{
						border-color: rgba(255, 255, 255, 0);
						border-bottom-color: #ffffff;
						border-width: 10px;
						margin-left: -10px;
						@include media-breakpoint-down(md){
							top: 20%;
						}
					}
					.menu-item{
						@extend .py-0;
						@extend .mx-0;
						@extend .border-0;
						@extend .w-100;
						&:before{
							@extend .border-0;
							height: 0;
						}
						&.active{
							@extend .border-0;
							&:before{
								@extend .border-0;
								height: 0;
							}
						}
					}
				}
			}
		}
	}
	a{
		@extend .text-body;
		&:hover{
			@extend .text-primary;
			transition: all 0.5s ease;
		}
	}
	.active{
		> a{
			@extend .text-primary;
		}
	}
	li.active{
		border-bottom: 3px solid $primary !important;
		&:hover{
			transition: none !important;
			-webkit-transition: none !important;
			-o-transition: none !important;
			&:before{
				@extend .bg-transparent;
				transition: none !important;
				-webkit-transition: none !important;
				-o-transition: none !important;
			}
		}
	}
	@include media-breakpoint-down(md){
		padding-top: .5rem !important;
		padding-bottom: .5rem !important;
	}
	.navbar-brand{
		.custom-logo{
			height: 50px;
			width: 200px;
		}
		#site-title{
			@extend .d-none;
		}
	}
}
#top-bar{
	.nav-link{
		@extend .text-white;
		&:hover{
			color: rgba(255,255,255, .5) !important;
		}
	}
	.btn-sm{
		padding-top: .16rem !important;
		padding-bottom: .16rem !important;
		&:focus{
			box-shadow: none !important;
		}

	}
	.form-control-sm{
		height: calc(1.3em + .5rem + 2px)!important;
	}
	.form-control{
		&::placeholder{
			@extend .text-white;
			opacity: 0.7;
		}
		&:focus{
			@extend .text-white;
			box-shadow: none !important;
		}
	}
}
#site-pagination{
	@extend .justify-content-center;
	@extend .my-6;
}

//
// Forms
//
#searchform{
	&-sm{
		@extend .my-2;
		.form-control{
			max-width: 150px !important;
		}
	}
}

//
// Slider
//
#slider-carousel{
	img{
		max-width: unset !important;
	}
	@include media-breakpoint-down(lg){
		img{
			max-width: 200% !important;
		}
		margin-top: 5rem !important;
		.item-title{
			font-size: 1.5rem !important;
		}
	}
	@include media-breakpoint-down(md){
		.item-title{
			font-size: 1rem !important;
		}
	}
}
.carousel{
	&-control{
		&-prev,
		&-next{
			top: 70% !important;
			@include media-breakpoint-down(xs){
				top: 50% !important;
			}
		}
	}
	&-indicators{
		.active{
			@extend .bg-primary;
		}
	}
	&-caption{
		right: 0;
		bottom: 0;
		left: 0;
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: rgba( $secondary, .7 );
		a{
			@extend .text-white;
			&:hover{
				color: $qm-red !important;
			}
		}
	}
}

//
// Front Page
//
.about-us{
	@include media-breakpoint-down(md){
		margin-top: 6rem !important;
		margin-bottom: 3rem !important;
		img{
			padding: 0 !important;
		}
	}
	&-title{
		margin-top: -200px;
		margin-left: 200px;
		@include media-breakpoint-down(md){
			margin: 0 !important;
			bottom: -10px;
			left: 15px;
			right: 15px;
			text-align: center;
		}
		p{
			background-color: rgba($primary, 0.8);
			@include media-breakpoint-down(md){
				padding: 1rem !important;
				display: block;
			}
			@include media-breakpoint-down(sm){
				font-size: 1.5rem;
			}
		}
		.hvr-outline-in::before{
			border: rgba($primary, 0.8) solid 3px !important;
		}
	}
	&-text{
		@include media-breakpoint-down(md){
			margin-top: 3rem !important;
			margin-bottom: 3rem !important;
			padding-left: 1rem !important;
			padding-right: 1rem !important;
			text-align: center;
		}
	}
	&-action{
		@include media-breakpoint-down(sm){
			.btn{
				width: 100%;
			}
		}
	}
}
.services{
	background-image: url('../../images/bg-services.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;
	min-height: 30vh;
	.jumbotron{
		@extend .bg-transparent;
		@extend .text-center;
		@extend .w-75;
		@extend .mx-auto;
		@include media-breakpoint-down(md){
			width: 100% !important;
		}
	}
	a:hover{
		.jumbo-widget-heading{
			@extend .text-secondary;
		}
	}
	.jumbo-widget{
		&.ih-item{
			@include media-breakpoint-down(md){
				.info{
					background: rgba(41, 36, 100, 0.7);
					opacity: 1;
					&-back *{
						transform: unset !important;
						visibility: visible !important;
						display: block !important;
					}
				}
			}
		}
	}
}
#latest-news,
#related-posts{
	.card{
		a{
			@extend .d-block;
			@extend .overflow-hidden;
		}
		img{
			transform: scale(1.1);
			will-change: transform;
			transition: all .25s ease;
		}
		&-body{
			padding-top: 15%;
			margin-top: -11.2%;
			@extend .position-relative;
			z-index: 1;
			&:before{
				content: "";
				@extend .position-absolute;
				top: 0;
				right: 0;
				bottom: 50%;
				left: 0;
				@extend .bg-white;
				transform-origin: 100% 50%;
				transform: skewY(-6deg);
				transition: all .3s ease;
				pointer-events: none;
				z-index: -1;
			}
		}
		&-link{
			top: -8%;
			right: 10%;
			will-change: transform;
			transition: all .3s ease;
		}
		&:hover{
			img{
				transform: none;
			}
			.card-body{
				&:before{
					transform: none;
				}
			}
			.card-link{
				transform: translate3d(-50%,-50%,0);
				top: 0;
				right: 30%;
			}
		}
	}
}

//
// Content
//
#main{
	@extend .m-0;
}
body{
	&:not(.home){
		#main{
			margin-top: 8.5rem !important;
		}
	}
	&.page{
		&-has-thumbnail{
			.featured-post-thumbnail{
				&.wp-post-image{
					@extend .w-100;
				}
				&-wrapper{
					@extend .full-width;
					@extend .position-relative;
					@extend .d-block;
					&:after{
						@extend .position-absolute;
						content: "";
						left: 0;
						bottom: 1rem;
						right: 0;
						min-height: 8rem;
						@extend .bg-secondary;
						mix-blend-mode: multiply;
					}
				}
			}
			article{
				header{
					margin-top: -6.5rem;
					min-height: 6rem;
					margin-bottom: 5rem;
					@extend .position-relative;
					.entry-title{
						@extend .text-white;
					}
				}
			}

		}
	}
}
.single,
.page{
	article{
		@extend .mt-0;
		@extend .mb-0;
	}
}
#content{
	article{
		.entry{
			&-meta{
				[class^="icomoon-"], [class*=" icomoon-"]{
					@extend .text-primary;
					@extend .pr-2;
				}
			}
		}
		&.qm{
			&-export-product,
			&-import-product{
				header{
					@extend .bg-secondary;
					@extend .text-light;
				}
			}
		}
		footer{
			@extend .m-0;
		}
	}
}
#related-posts{
	a{
		@extend .text-muted;
		&:hover{
			@extend .text-primary;
		}
	}
}

.card{
	.cicle{
		&-one{
			border: 2px solid $gray-300 !important;
			width: 200px;
			height: 200px;
			margin-top: -100px;
		}
		&-two{
			width: 170px;
			height: 170px;
		}
	}
	&:hover{
		.cicle{
			&-one{
				@extend .bg-primary;
				@extend .border-0;
				transition: all 1.5s ease;
			}
			&-two{
				@extend .border-0;
			}
		}
	}
}

.modal{
	&-contact-link{
		@extend .text-muted;
		&:hover{
			@extend .text-primary;
		}
	}
	@include media-breakpoint-down(md){
		&-title{
			font-size: 1.5rem;
			line-height: 1.2;
			margin-bottom: 1.5rem;
		}
	}
}

#featured-companies{
	box-shadow: 0 .125rem .25rem .25rem rgba(0,0,0,.075);
	@extend .position-relative;
	.card{
		&-wrapper{
			@extend .hvr-overline-from-center;
			filter: grayscale(100%);
			opacity: 0.3;
			transition: all .25s ease;
			&:hover{
				filter: none;
				opacity: 1;
				transition: all .25s ease;
			}
			&:before{
				z-index: 1 !important;
				@extend .bg-qm-blue-light;
			}
		}
	}
}
#you-are-here{
	@extend .full-width;
	@extend .border-bottom;
	@extend .mb-4;
	.breadcrumb{
		@extend .container;
		@extend .bg-transparent;
		@extend .mb-0;
		@extend .small;
	}
}
.page,
.single{
	&-qm-export-product{
		#you-are-here{
			margin-top: 0 !important;
		}
	}
	&.page-has-thumbnail{
		#you-are-here{
			margin-top: -5.5rem;
		}
	}
	#you-are-here{
		margin-top: -3rem;
	}
}

//
// QM
//
.qm{
	&-page{
		&-archive{
			article.post{
				@extend .mt-5;
				header{
					.entry-title{
						@extend .h4;
						a{
							@extend .text-qm-gray;
							&:hover{
								@extend .text-primary;
							}
						}
					}
				}
			}
		}
	}
	&-product{
		&-checked{
			i{
				@extend .text-primary;
			}
		}
		&-unchecked{
			i{
				@extend .text-muted;
			}
		}
	}
	&-products{
		a{
			&:hover{
				i{
					@extend .text-primary;
				}
			}
		}
	}
}

//
// Footer
//
#footer{
	background-image: url('../../images/bg-footer.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;
	@extend .position-relative;
	*{
		@extend .text-white;
		a{
			&:hover{
				color: $qm-red !important;
			}
		}
	}
	input{
		background-color: rgba(255,255,255,.2);
	}
	.btn{
		&-outline{
			&-primary{
				@extend .text-primary;
				&:hover{
					@extend .text-white;
				}
			}
		}
	}
	&:before{
		@extend .position-absolute;
		content: "";
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		@extend .bg-secondary;
		mix-blend-mode: multiply;
	}
	#colophon{
		@extend .border-bottom;
		@extend .border-white;
		@extend .pb-0;
		.widget{
			&-title{
				@extend .h5;
				@extend .font-weight-bold;
				@extend .mb-4;
			}
		}
		@include media-breakpoint-down(md){
			.widget-area{
				> div{
					padding: 0 !important;
					&:not(:last-child){
						border-bottom: solid 1px rgba($white, .5);
					}
					aside{
						padding: 1rem;
						margin-bottom: 1rem !important;
					}
				}
				text-align: center !important;
				.widget{
					// border-bottom: solid 1px $white;
				}
			}
		}
	}
	#copyright{
		a img{
			width: 90px;
			height: 20px;
		}
	}
}
#t-em-social-network-menu{
	.list-inline{
		@extend .mb-0;
	}
	.social-icon{
		@extend .mx-2;
	}
}

//
// WP
//
.wp{
	&-block-gallery{
		@extend .full-width;
		@extend .mt-5;
		.blocks-gallery{
			&-item{
				@extend .m-0;
				@extend .overflow-hidden;
				border: solid 1px $white;
				figure{
					transform: scale(1.1);
					transition: ease-in-out all .5s;
					&:hover{
						transform: scale(1);
					}
					figcaption{
						@extend .d-none;
					}
				}
			}
		}
	}
}
