// Quimimpex scss source file

//
// Imports
//
@import "custom";
@import 'ihover';
@import "../../../../twenty-em/assets/src/scss/theme";
@import '../../dist/vendor/hover.css/scss/hover.scss';

//
// Scaffolding
//
*{
	transition: 250ms;
}
body{
	overflow-x: hidden;
	&.admin-bar{
		#top-menu{
			top: 30px !important;
		}
	}
}

.full-width {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: none;
}

.accordion{
	.card{
		@extend .mb-0;
		&-header{
			@extend .p-0;
		}
	}
}

//
// Navigation
//
#top-menu{
	@extend .fixed-top;
	@extend .shadow-sm;
	> .navbar{
		@extend .bg-white;
		@extend .pb-0;
		@extend .pt-1;
		@extend .position-relative;
		&-collapse{
			@include media-breakpoint-down(md){
				margin-right: 1rem;
				position: absolute;
				top: 65px;
				right: 0;
			}
		}
		#menu-top-menu{
			@extend .ml-auto;
			@include media-breakpoint-down(md){
				text-align: left;
				width: 200px;
				background-color: #f8f9fa;
				border-radius: 3px;
			}
			.nav-item{
				@extend .mr-2;
				@extend .ml-4;
				@extend .py-4;
				@extend .hvr-underline-from-center;
				overflow: inherit !important;
				&:before{
					height: 3px;
				}
				&.active{
					border-bottom: 3px solid $primary !important;
					-o-transform: none !important;
					-webkit-transform: none !important;
			  		transform: none !important;
					&:hover{
						transition: none !important;
						-webkit-transition-property: none !important;
						-o-transition-property: none !important;
						transition-property: none !important;
						&:before{
							@extend .bg-transparent;
							transition: none !important;
							-webkit-transition-property: none !important;
							-o-transition-property: none !important;
							transition-property: none !important;
						}
					}
				}
			}
			.dropdown-menu{
				.menu-item{
					@extend .py-2;
					@extend .mx-2;
					@extend .border-0;
					&:before{
						@extend .border-0;
						height: 0;
					}
					&.active{
						@extend .border-0;
						&:before{
							@extend .border-0;
							height: 0;
						}
					}
				}
			}
		}
	}
	a{
		@extend .text-body;
		&:hover{
			@extend .text-primary;
			transition: all 0.5s ease;
		}
	}
	.active{
		a{
			@extend .text-primary;
		}
	}
	li.active{
		border-bottom: 3px solid $primary !important;
		&:hover{
			transition: none !important;
			-webkit-transition: none !important;
			-o-transition: none !important;
			&:before{
				@extend .bg-transparent;
				transition: none !important;
				-webkit-transition: none !important;
				-o-transition: none !important;
			}
		}
	}
	@include media-breakpoint-down(md){
		padding-top: .5rem !important;
		padding-bottom: .5rem !important;
	}
	.navbar-brand{
		.custom-logo{
			height: 45px;
		}
		#site-title{
			@extend .d-none;
		}
	}
}
#top-bar{
	.nav-link{
		@extend .text-white;
		&:hover{
			color: rgba(255,255,255, .5) !important;
		}
	}
	.btn-sm{
		padding-top: .16rem !important;
		padding-bottom: .16rem !important;
		&:focus{
			box-shadow: none !important;
		}

	}
	.form-control-sm{
		height: calc(1.3em + .5rem + 2px)!important;
	}
	.form-control{
		&::placeholder{
			@extend .text-white;
			opacity: 0.7;
		}
		&:focus{
			@extend .text-white;
			box-shadow: none !important;
		}
	}
}

//
// Slider
//
.carousel{
	&-control{
		&-prev,
		&-next{
			top: 70% !important;
		}
	}
	&-indicators{
		.active{
			@extend .bg-primary;
		}
	}
	&-caption{
		right: 0;
		bottom: 0;
		left: 0;
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: rgba( $secondary, .7 );
		a{
			@extend .text-white;
			&:hover{
				@extend .text-primary;
			}
		}
	}
}

//
// Front Page
//
.about-us{
	&-title{
		margin-top: -200px;
		margin-left: 200px;
		p{
			background-color: rgba($primary, 0.8);
		}
		.hvr-outline-in::before{
			border: rgba($primary, 0.8) solid 3px !important;
		}
	}
}
.services{
	background-image: url('../../images/bg-services.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;
	min-height: 30vh;
	.jumbotron{
		@extend .bg-transparent;
		@extend .text-center;
		@extend .w-75;
		@extend .mx-auto;
	}
	a:hover{
		.jumbo-widget-heading{
			@extend .text-secondary;
		}
	}
}
#latest-news{
	.card{
		a{
			@extend .d-block;
			@extend .overflow-hidden;
		}
		img{
			transform: scale(1.1);
			will-change: transform;
			transition: all .25s ease;
		}
		&-body{
			padding-top: 15%;
			margin-top: -11.2%;
			@extend .position-relative;
			z-index: 1;
			&:before{
				content: "";
				@extend .position-absolute;
				top: 0;
				right: 0;
				bottom: 50%;
				left: 0;
				@extend .bg-white;
				transform-origin: 100% 50%;
				transform: skewY(-6deg);
				transition: all .3s ease;
				pointer-events: none;
				z-index: -1;
			}
		}
		&-link{
			top: -8%;
			right: 10%;
			will-change: transform;
			transition: all .3s ease;
		}
		&:hover{
			img{
				transform: none;
			}
			.card-body{
				&:before{
					transform: none;
				}
			}
			.card-link{
				transform: translate3d(-50%,-50%,0);
				top: 0;
				right: 30%;
			}
		}
	}
}

//
// Content
//
#main{
	@extend .m-0;
}
body{
	&:not(.home){
		#main{
			@extend .mt-8;
		}
	}
	&.page{
		&-has-thumbnail{
			.featured-post-thumbnail{
				&.wp-post-image{
					@extend .w-100;
				}
				&-wrapper{
					@extend .full-width;
					@extend .position-relative;
					@extend .d-block;
					&:after{
						@extend .position-absolute;
						content: "";
						left: 0;
						bottom: 1rem;
						right: 0;
						min-height: 8rem;
						@extend .bg-secondary;
						mix-blend-mode: multiply;
					}
				}
			}
			article{
				header{
					margin-top: -6.5rem;
					min-height: 6rem;
					margin-bottom: 5rem;
					@extend .position-relative;
					.entry-title{
						@extend .text-white;
					}
				}
			}

		}
	}
}
#content{
	article{
		@extend .mt-0;
		&.qm{
			&-export-product,
			&-import-product{
				header{
					@extend .bg-secondary;
					@extend .text-light;
				}
			}
		}
	}
}
#related-posts{
	a{
		@extend .text-muted;
		&:hover{
			@extend .text-primary;
		}
	}
}

.card{
	.cicle{
		&-one{
			border: 2px solid $gray-300 !important;
			width: 200px;
			height: 200px;
			margin-top: -100px;
		}
		&-two{
			width: 170px;
			height: 170px;
		}
	}
	&:hover{
		.cicle{
			&-one{
				@extend .bg-primary;
				@extend .border-0;
				transition: all 1.5s ease;
			}
			&-two{
				@extend .border-0;
			}
		}
	}
}

.modal{
	&-contact-link{
		@extend .text-muted;
		&:hover{
			@extend .text-primary;
		}
	}
}

#featured-companies{
	box-shadow: 0 .125rem .25rem .25rem rgba(0,0,0,.075);
	.card{
		&-wrapper{
			@extend .hvr-overline-from-center;
			filter: grayscale(100%);
			opacity: 0.3;
			transition: all .25s ease;
			&:hover{
				filter: none;
				opacity: 1;
				transition: all .25s ease;
			}
			&:before{
				z-index: 1 !important;
				@extend .bg-qm-blue-light;
			}
		}
	}
}

//
// Footer
//
#footer{
	background-image: url('../../images/bg-footer.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;
	@extend .position-relative;
	*:not(input){
		@extend .text-white;
		a{
			&:hover{
				@extend .text-primary;
			}
		}
	}
	&:before{
		@extend .position-absolute;
		content: "";
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		@extend .bg-secondary;
		mix-blend-mode: multiply;
	}
	#colophon{
		@extend .border-bottom;
		@extend .border-white;
	}
}

//
// WP
//
.wp{
	&-block-gallery{
		@extend .full-width;
		@extend .mt-5;
		.blocks-gallery{
			&-item{
				@extend .m-0;
				@extend .overflow-hidden;
				border: solid 1px $white;
				figure{
					transform: scale(1.1);
					transition: ease-in-out all .5s;
					&:hover{
						transform: scale(1);
					}
					figcaption{
						@extend .d-none;
					}
				}
			}
		}
	}
}
